form .form_row{display:block;font-size:13px;line-height:24px;color:#666;clear:both}
form .form_field_checkbox,form .form_field_radio{margin-left:20px}
form .form_field_text,form .form_field_textarea{background:url("../../designs/default/images/social/fieldbg.gif") repeat-x scroll center top #fff;border-color:#7c7c7c #c3c3c3 #ddd;border-style:solid;border-width:1px;color:#333;font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;font-size:100%;margin:0;padding:2px}
form .form_field_textarea{width:698px}
form .form_row_description{font-size:11px;line-height:12px;clear:both;color:#666}
form .form_rightcol{clear:both}
form .form_rightcolnobr{clear:none;float:right;margin-bottom:15px}
form .form_rightcolnooverflow{overflow:hidden}
form .form_rightcolmark{color:red;font-weight:bold}
form .title{padding-top:10px}
form .form_leftcolmark{color:red}
form .form_leftcollabel{float:left;font-weight:bold}
form .form_leftcolmark{float:left;padding-left:2px;font-weight:bold}
form .form_leftcolnobr{float:left;margin-bottom:15px}




